<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AndroidComposeDemo"
        tools:targetApi="31">

        <!--        <activity-->
        <!--            android:name=".MainActivity"-->
        <!--            android:exported="true"-->
        <!--            android:screenOrientation="portrait"-->
        <!--            android:theme="@style/Theme.AndroidComposeDemo">-->
        <!--            <intent-filter>-->
        <!--                <action android:name="android.intent.action.MAIN" /> -->

        <!--                <category android:name="android.intent.category.LAUNCHER" /> -->
        <!--            </intent-filter>-->
        <!--        </activity>-->

        <activity
            android:name=".ui.book.BookAndroidComposeActivity"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidComposeDemo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.book.c3.BloomWelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidComposeDemo" />
        <activity
            android:name=".ui.book.c3.BloomLoginActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidComposeDemo" />
        <activity
            android:name=".ui.book.c3.BloomHomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AndroidComposeDemo" />

        <activity
            android:name=".ui.google.GoogleAndroidComposeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.personal.PersonalAndroidComposeActivity"
            android:screenOrientation="portrait" />

    </application>

</manifest>